package pages

import "encontradev/views/components"
import "encontradev/internal/dto"

templ HomeContent() {
	<div class="max-w-6xl mx-auto flex flex-col gap-6">
		<div class="bg-white rounded-lg shadow-md p-6">
			<div>
				<h1 class="text-3xl md:text-4xl font-bold mb-4 text-gray-800">Home!</h1>
			</div>
		</div>
	</div>
}

templ Home(user dto.UserResponse, partial bool) {
    if partial {
        @HomeContent()
    } else {
        @components.Layout(user, HomeContent())
    }
}
