package pages

import (
  "encontradev/internal/dto"
  "encontradev/views/components"
)

templ MeContent(user dto.UserResponse) {
  <div class="max-w-md mx-auto mt-12 bg-white rounded-lg shadow-md p-6 flex flex-col items-center gap-6">
  
  </div>

}

templ Me(user dto.UserResponse, partial bool) {
  if partial {
    @MeContent(user)
  } else {
    @components.Layout(user, MeContent(user))
  }
}
